## DATA 690 Homework 3 (50 points - Due on Sunday, March 5, 2023 by 11:59 pm ET)

The output of this assignment for submission should be in PDF format **AND** .py or .ipynb. The name of the file should be as follows: Lastname_Firstname_Homework3.pdf (example: Thomas_Sunela_Homework3.pdf) **AND** Lastname_Firstname_Homework3.ipynb (example: Thomas_Sunela_Assignment3.ipynb. In short, you are submitting the python notebook as well as the pdf of that notebook. Do **NOT** submit .html file, the system will give you an error.

    
Incorrect file name will cost you points!<br>

Instructions for converting a Jupyter Python notebook to PDF: Go to the menu and choose, File --> Download As --> html. Open that html file and print it to PDF. Submit the PDF file **NOT** the html file.

If you are using Google Colab, remember to review the PDF before submitting to ensure that all cells and answers are displayed in the PDF.

**Things to note:**

* Each cell should display an output
* Use both Markdown and code comments in the Jupyter Notebook as needed

### IF YOU ARE MAKING ANY ASSUMPTIONS, WRITE THAT IN A MARKDOWN CELL OR COMMENT
### $\color{red}{\text{Answer the questions asked as well, not just code}}$

We will be using the SF Salaries dataset from Kaggle! The dataset is provided to you in Blackboard.

**#1 Import pandas as pd**

**#2 Read Salaries.csv as a dataframe called sal**

**#3 Check the head of the DataFrame. Is there anything unique? What can you tell about the data?** (5 points)

Written Answer:

**#4 Use the .info() method to find out how many entries there are. Can you tell anything more about the data?** (3 points)

Written Answer:

**#5 What is the average BasePay?** (3 points)

**#6 What is the highest amount of OvertimePay in the dataset?** (3 points)

**#7 What is the job title of JOSEPH DRISCOLL?** (4 points)

**#8 How much does JOSEPH DRISCOLL make (including benefits)?** (4 points)

**#9 What is the name of highest paid person (including benefits)?** (3 points)

**#10 What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?** (5 points)

Written Answer:

**#11 What was the average (mean) BasePay of all employees in 2011?** (5 points)

**#12 How many unique job titles are there?** (5 points)

**#13 What are the top 5 most common jobs?** (5 points)

**#14 How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)** (5 points)