# DATA 690
Week 5
## Introduction to Pandas

### Why should you care?

The Pandas library allows us to easily analyze data in Python in a way that is similar to *R*. The Pandas library introduces two new data structures that are optimized for data analysis: the `Series` and `DataFrame`. Mastering the use of `Series` and `DataFrame` objects and their methods will help you to effectively and elegantly perform a wide variety of data analysis tasks.

   * **Series** - A single dimension of data. It is analogous to a single column of data or a one dimensional array. (Analogous to a vector in R.)
   * **DataFrame** - A two-dimensional data structure that looks like any other rectangular table of data you have seen with rows and columns. Every column in a pandas DataFrame is a Series.

## Import Pandas

To be able to use Pandas for data analysis, we first need to import it. By convention, Pandas is usually imported with the alias `pd` as `import pandas as pd`. Recall, that this allows us to use a function `func()` from the Pandas library using the syntax: `pd.func()` or by calling a Pandas function on a Pandas object (a Series or a DataFrame).

In [1]:
# Importing pandas as pd is standard.

import pandas as pd
import numpy as np

# Python magic to allow plots to display in notebook
%matplotlib inline

## Pandas Series

A Pandas `Series` is a special type of list that is optimized for data analysis. A Pandas `Series` object is very similar a list but:

+ it can only hold data of one type
+ always has an *index* attached to each observation
+ is optimized for data analysis tasks

### Creating a Series

You can convert a list,numpy array, or dictionary to a Series:

In [2]:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':30}

** Using Lists**

In [4]:
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

In [6]:
pd.Series(data=my_list, index = labels)

a    10
b    20
c    30
dtype: int64

In [7]:
pd.Series(my_list, labels) # no need to mention data and index, but better to include for good understanding

a    10
b    20
c    30
dtype: int64

** NumPy Arrays **

In [8]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [9]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int64

** Dictionary**

In [10]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

### What is an Index?

One difference between a `list` and a Pandas `Series` is the presence of an **index**. An index is a convenient label that helps to identify observations in the data.

In the output of the cell above, you see the numbers 0, 1, 2, 3, 4 printed out on the left. These numbers are the default integer based index called a *RangeIndex*. All Pandas objects must have an index, and if an index is not provided, the default index (RangeIndex) will be used.

We can access the index via the `.index` attribute. (Recall, everything in Python is an *object*. Objects have properties called *attributes* and tasks that they know how to accomplish called *methods*.)

In [11]:
# Extract the index 

ser1 = pd.Series(data=my_list)
ser1.index

RangeIndex(start=0, stop=3, step=1)

### What do we mean by a more 'meaningful' index?

With the height data available for each of my 5 friends, the height of each of my friends (in inches) is the data I want to use to extract insights. My friends names, however, are not useful data to perform analysis on, their names are just convenient *labels* that help me understand who the measurements refer to.

We could:

+ refer to each friend by name (by using meaningful Index): Matt, Sam, Peter,...
+ refer to friend by integer location (using the default RangeIndex): 0th Friend, 1st Friend, 2nd Friend...

It is never **required** to choose an index, you can complete all of your analysis with just the default *RangeIndex*. Setting a column to be an index can help identify the rows such as with the friends names above. It is best to choose columns that are unique and descriptive. Python does not enforce the uniqueness of the index but it does help when needing to identify one particular row.

To add a more meaningful index when creating a Pandas series, pass a list containing the index values via the `index` parameter when creating the Series.

`pd.Series(<values_list>, index = <index_list>)`

In [12]:
# Friends data as lists

heights = [72, 68, 76, 77, 80]
names = ['Matt', 'Sam', 'Peter', 'Ana', 'Darla']

In [13]:
# Create a Series with a meaningful index

friends_data = pd.Series(index = names,data = heights)
friends_data

Matt     72
Sam      68
Peter    76
Ana      77
Darla    80
dtype: int64

In [14]:
# Inspect the index of friends_data
friends_data.index

Index(['Matt', 'Sam', 'Peter', 'Ana', 'Darla'], dtype='object')

### Creating Pandas Series using a dictionary

Recall, a *dictionary* contains *key/value* pairs where the *key* is a meaningful, unique label for the data contained in the values. Doesn't that sound similar to our description of a meaningful *index*?

Passing a *dictionary* to the Pandas `Series()` constructor automatically uses the *keys* as the index.

In [15]:
# Friends data as a dictionary
friends_dict = {'Matt': 72, 'Sam': 68, 'Peter': 76, 'Ana': 77, 'Darla': 80}

# Create Pandas Series
friends_data2 = pd.Series(friends_dict)
friends_data2

Matt     72
Sam      68
Peter    76
Ana      77
Darla    80
dtype: int64

### Why is the index useful?

For now, it is best to think of the index as a meaningful label. In fact, with an index we can extract data from our Series using either the index location (`my_series[<rownumber>]`) or by index label (`my_series[<label>]`). In this respect, a Pandas `Series` is a hybrid of a list and a dictionary as we can refer to values in the `Series` using both approaches.

The Pandas index is very powerful but can be confusing when encountering it for the first time.

Note: there is no real equivalent to the Pandas index in R. In Base R, there are rownames, but R does not make use of the rownames in way that the Pandas library does. Further, the tidyverse paradigm explicitly does not use the R rownames at all.

### How can we extract data from a Series?

A wonderful property of Pandas Series (and DataFrames) is that we can refer to data values by *label* using the index labels and the `.loc()` function AND/OR by *integer index* location using the `.iloc()` function since Series and DataFrames are ordered (meaning they always have an implicit row number based index). We will learn more about these two functions later.

In [16]:
# Extract the height of Peter using the named index

friends_data2['Peter']

76

In [17]:
friends_data.loc['Peter']

76

In [ ]:
# Extract the height of Peter using the integer index location.

### Data Types

One difference between a Pandas `Series` and a `list` is that a Series can only contain data of one **data type**. The data types in Pandas are from the **Numpy** library that allows for *numerical computing* in Python. These data types are very similar to the base Python data types that we have already encountered but they are optimized for data analysis. For all practical purposes, what you already know about the base Python data types carries over to the Pandas data types.

The main data types available are:

+ boolean (bool): True/False
+ integer (int64): whole numbers, no decimals
+ float (float64): numbers with decimals
+ object: mainly strings
+ datetime: (datetime64[ns]): a timestamp, a specific moment in time

There other data types available and we will cover them as they are needed. These include:

+ category
+ timedelta (a specific amount of time, ex. time elapsed between two timestamps) 
+ period (a specific time period, ex. Financial data is often reported by Quarter: Q1, Q2, Q3, Q4)

The *object* data type is a bit confusing. Each value in an object column can be any Python object. But, nearly all of the time, object data type columns contain strings. They can contain any other Python object such as integers, floats, or even complex types such as lists or dictionaries. There is no specific data type for strings as there are in most other data processing packages. When you see that object is the data type, you should assume you have a string column. 

Note: If there is at least one observation in a column of data that contains a string, the entire column will be cast a *object* type.

You can find out what the data type is by using the `.dtypes` attribute.

In [ ]:
# What type of data is friends_data?

## Pandas DataFrame

A Pandas DataFrame is a collection of columns of data (each are Pandas Series) that share a common index to identify the rows and a column index to identify columns.

### How can we construct a Pandas DataFrame?

Since a `DataFrame` is really just a collection of `Series` that share a common index, if we have data stored in multiple lists or a dictionary, we can pass the object to the `pd.DataFrame()` constructor. There are many different ways the data can be represented to create a `DataFrame`.

In [ ]:
# Create a dataframe from the friends data

#friends_dict = {'Matt': 72, 'Sam': 68, 'Peter': 76, 'Ana': 77, 'Darla': 80}

friends_data = {'names':['Matt', 'Sam', 'Peter', 'Ana', 'Darla'],
                'heights': [72, 68, 76, 77, 80],
                'eye_color':['brown', 'blue', 'green', 'brown', 'green']  
}
friends_df = pd.DataFrame(friends_data)
friends_df

In [ ]:
# How do we know that this is really a Pandas DataFrame?

Like before, we have a choice to make about the index. In the output above, we see that the default *RangeIndex* is being used. If we want to make the `names` the index, we can use the `.set_index()` method for DataFrames. As before with Series, this allows us to refer to the data by label or integer index position.

To change the index, use the `.set_index(<col_to_become_index>, inplace = True)` method. When replacing the default index, the column that becomes the index is removed from the data by default.

If the default integer *RangeIndex* is desired, use the `.reset_index(inplace = True)` method.

In [ ]:
# Set the index to be names

In [ ]:
# Extract information for Peter

In [ ]:
# Reset the index back to RangeIndex

# Missing Data

Let's show a few convenient methods to deal with Missing Data in pandas:

In [ ]:
df = pd.DataFrame({'A':[1,2,np.nan],
                  'B':[5,np.nan,np.nan],
                  'C':[1,2,3]})

In [ ]:
df

---

## How do we read in data from a file?

Typically, we read data in from a file, url, or database. The most common file format, `.csv`, can easily be read-in using the Pandas `.read_csv()` function. This function will automatically create a DataFrame for us. Among the many useful arguments that `.read_csv()` accepts, you will find it particularly useful to specify the index and how to properly cast columns to the correct data type. We will explore these features at a later time.

For practice, we will read in the `mtcars` data provided by Motor Trend to get some practice with DataFrames.
    
| Name: | Description: |
|:-------|:--------------|
| make  | Car Manufacturer |
| model | Car Model    |
| type  | Model Type: Sedan, SUV, Sports Car, Wagon, Truck, Hybrid |
| origin | Country where car manufactured |
| drivetrain | Drivetrain type: Front, Rear, All Wheel Drive |
| msrp | Manufacturers Suggested Retail Price in US dollars |
| invoice | Actual Selling Price in US dollars |
| engine  |	Engine Size (L) |
| cyl   | Number of cylinders |
| hp    | Gross horsepower |
| mpg_city | Miles/(US) gallon in City|
| mpg_hwg | Miles/(US) gallon on Highway|
| wt    | Weight (1000 lbs) |
| wheelbase | Distance between the centers of the front and rear wheels (in) |
| length | Length of vehicle (in) |
| domestic | Indicator variable: 1 = domestic, 0 = foreign |

In [ ]:
# Import mtcars data


# What type of object is our data?

Now that the data has been read-in and the `DataFrame` constructed. Let's investigate the structure.

### Extracting DataFrame Components

The diagram above shows the a `DataFrame` consists of a *row index* identifying the observations of the data, a *column index* containing the column names, and the *data* as Pandas `Series` objects. Let's make sure we can extract these elements. 

+ We have already encountered the `.index` attribute with Series objects, but all DataFrames also have this attribute.

+ The *column index* is available via the `.columns` attribute. Recall, an index is just a *label* so it makes sense to think of the column names as a type of index.

+ Any column of data, a Series, can be extracted by *label* as `df['colname']`

Let's try these out on the `mtcars` DataFrame.

In [ ]:
# extract the index - identify each row

In [ ]:
# extract the column names - identify each column

In [ ]:
# Extract the mpg column as a series

In [ ]:
# Determine type

#### Alternate method for accessing a column of data as a Series - Caution!

Another common way to access a column from a data frame is to use dot notation. For example, we could select the `mpg_city` column from the `mtcars` data set by typing `mtcars.mpg_city`. This notation is very common and can be convenient, however, there are limitations to this method and for that reason it is best NOT to get in the habit of using this notation when first learning to work with Pandas.

The dot notation does not work when:

+ the variable name contains a space (For example: if the column name was `mpg city`)
+ the variable name is the same as an attribute or python function (For example: if column name was 'index')

In [ ]:
# Extract the mpg column as a series using dot notation

## What do we do first? Data Analysis Workflow

When we get a new data set, we want to:
1. Inspect a few rows of the data to get a feel for what the data looks like. Rename columns as necessary to make data easier to work with.
1. Investigate how many rows and columns are in the data
1. Determine what types of data are present in the columns. Make sure that the variable types are what we expected. If not, make the appropriate type conversion. Create new variables as needed.
1. Determine if there are missing values in the data.
1. Set a meaningful index, change an index, or reset the index to the default `RangeIndex`
1. Write a DataFrame or Series to file

### Step 1: Inspect a few rows of the data

#### Observations

Recall that **observations** are the rows in a tabular data set. It is important to think about what each row represents, or the **unit of observation**, before starting a data analysis. In the `mtcars` DataFrame, the unit of observation is a specific model of car. This makes it easy to answer questions about cars (e.g., "What percentage of cars get more than 20 MPG?") but harder to answer questions about cars from a particular country (e.g., "What percentage of Toyotas have a fuel efficiency above 20 MPG in the city?")

There is no single "best" representation of the data. The right representation depends on the question you are trying to answer: if you are studying single cars, then you might want the unit of observation to be a car, but if you need to know about fuel efficiency by car maker, then you might prefer that it be car manufacturer. No matter which representation you choose, it is important to be conscious of the unit of observation.

The three main ways to quickly inspect a few observations/rows of data:
+ `df.head(n)`
+ `df.tail(n)`
+ `df.sample(n)`

The *n* parameter has a default value of 5.

Once a few rows of data are printed, make sure you can identify the type of observational unit.

In [ ]:
# Inspect the first five rows of data

In [ ]:
# Inspect the last few rows

In [ ]:
# Inspect a few random rows

#### Renaming columns

We could keep referring to the *data description* above where the meaning of the data in the columns is explained. However, this can be time-consuming and confusing. Oftentimes it is a good idea to give columns with unclear meanings a better name. We can do this with the `.rename()` function and specifying the `columns` argument. All that is necessary to use this function is to create a dictionary with the keys as the old names to replace and the values the new names we want to use and pass this argument to `columns`.

Which columns in the `mtcars` data could use better names?

+ The `wt` column tells us about the weight of the car. Maybe it would be better to just rename this column `weight`.
+ The `engine` column tells us about the size (displacement) of the engine. Maybe a better name would be `engine_size`.

In [ ]:
# Rename columns

### Step 2: How many rows and columns are present in the data?

All DataFrames have a shape **attribute** that we can access as `df.shape`. 

The shape of DataFrame will be returned as a tuple of the form: `(number of rows, number of columns)`.

In [ ]:
# What is the size of data?

In [ ]:
# Why is the particular data structure for shape used?

In [ ]:
# How many rows are there? Extract elements from a tuple using []

In [ ]:
# How many columns are there?

### Step 3: Determine what types of data are available in each column

#### Data Types

All Dataframes have a dtypes **attribute** that we can access as ```df.dtypes```.

A Pandas Series will be returned with the data *type* of each column from our data and with the column names as the *index*. Since Python returns a Series object, the data type for a specific feature/column from the data can be extracted by label.

In [ ]:
# Find the data types for each column in the dataframe

In [ ]:
# How can we extract the data type of the `weight` columns?

### Variable Types

Variables that can be measured on a numeric scale are called **quantitative variables**. Just because a variable happens to contain numbers does not necessarily make it "quantitative". For example, consider the variable `domestic` data set. Each car is either foreign or domestic. This data set happens to use 1 for "domestic" and 0 for "foreign", but these numbers do not reflect an underlying numeric scale.

Variables that are not quantitative but take on a limited set of values are called **categorical variables**. Although categories are usually non-numeric, they are sometimes given numeric values like the `domestic` variable. With a categorical variable, one common analysis question is, "How many observations are there in each category?".

Some variables do not fit neatly into either category. For example, the variable `model` in the `mtcars` data set is obviously not quantitative, but it is not categorical either because it does not take on a limited set of values. Every car has a different name, so it does not make sense to analyze the frequencies of different model names, as one might do with a categorical variable. We will group variables like `model`, that are neither quantitative nor categorical, into an "other" category. These `other` type variables are often a good choice for the **index**, especially if they have a unique value for each row.

Some variables, like `cyl`, the number of cylinders in the engine, can be thought of as either **quantitative** or **categorical** depending on what you are trying to do.

+ Suppose we wanted to calculate the displacement per cylinder or investigate the association between fuel consumption and the number of cylinders a car has. Here we treat `cyl` as a number.
+ Suppose we wanted compare the fuel efficiency of cars by the number of cylinders they have. In this situation, we are treating the number of cylinders as a grouping variable, meaning that we are treating it like a **categorical** variable.

Every variable can be classified into one of these three **types**: quantitative, categorical, or other. The type of the variable often dictates the kind of analysis we do and the kind of visualizations we make, as we will see later in this chapter. 

#### Adjusting Data Types

The `domestic` column contains information about whether or not a car is foreign or domestic. The data type for the `domestic` column is listed as `int64`. Is this the best data type for this column? Probably not.

We have at least two options.

1. We can change the data type to object using the ```.astype()``` method
1. We can recode the column using the ```.replace()``` method.

In [ ]:
# Option 1: Change the data type for the column to 'object' using astype()

In [ ]:
# Check the data type has changed

In [ ]:
# Note, when printing out some values, Pandas tells us the data type is 
# object but the values are not properly quoted like strings!
# Be very aware of the data types!

In [ ]:
# Option 2: Recode the column using the .replace method

What about the `cyl` column? This represents the number of cylinders the car has. The number of cylinders is an integer, but would we use it like a normal integer in a data analysis context?

Let's create a new column in our data set called `cat_cyl` which will be a categorical representation of the `cyl` variable. This way, we can be explicit when exploring the different ways we might choose to use this variable. Note: it is not necessary to create a categorical representation of the `cyl` variable, we are just doing it for demonstration purposes.

In [ ]:
# Recode the cyl column using the .replace method

#### Creating a new variable as a function of the others

Suppose that instead of just recoding a variable, we wanted to create a new column as a function of the others? 

Let's create a new variable in our data set that represented the engine size (displacement) per cylinder `disp_per_cyl`?

We can create new columns by assignment exactly as we did with dictionaries.

In [ ]:
# Create a new column called 'disp_per_cyl'

In [ ]:
# Round `disp_per_cyl` to 2 decimal places

Let's create a column called `diff_price` which is the difference between the `msrp` price and the actual selling price `invoice'.

In [ ]:
# Create diff_price

### Step 4: Determine if there are missing data

We can apply the `.count()` method to our DataFrame and Pandas will return a Series with the number of non-null values in each column. 

Alternatively, we can apply the ```.isnull()``` method to a series or a Dataframe and python will return a boolean representation where a ```True``` indicates the value is missing or NaN. If we use **method chaining** and apply the ```sum()``` function, we will obtain a Pandas Series containing the number of missing observations in each column.

(We will cover functions like ```sum()``` more later in the course)

In [ ]:
# How many non-null values are in each column?

In [ ]:
# Use the .isnull().sum() to determine if there are missing data
# Are there any missing data in the mtcars dataframe?

It looks like there are two observations in the data containing missing values. The missing data was in the `cyl` column and since we created two new columns that are functions of `cyl` then these columns have missing values as well. In the next section we will learn how to identify what cars have missing data for the `cyl` column and then we can do some detective work to figure out why the data is missing.

Most real world data contains missing data. Methods to deal with missing data will be discussed later in the course.

### Quick look at Dataframe structure

We can also use the ```df.info()``` data frame **method**. This method will print out useful information about our data frame structure and its contents.

In [ ]:
# Use the .info() method to print out useful information about the data frame contents


# to get exact memory usage, memory_usage = 'deep'
#mtcars.info(memory_usage = 'deep')

#### What does `info()` tell us about the mtcars data?

Based on the ```mtcars.info()``` output, what information can we glean?

1. data structure type - `Pandas DataFrame`
1. Index type
1. number of columns
1. column names, number of non-null entries, column type
1. summary of data types available in data
1. memory usage

### Step 5: Manipulating the Index

#### How can we change the index?

The index can be used to our advantage if we choose a meaningful index. A meaningful index is best if it is unique and descriptive of the observations in the data.

For the ```mtcars``` data, the ```model``` is the type of car which is unique and descriptive of what the observations in each row represent. Note, this column is not all that useful as a column of data, there is no real analysis that we would do with it! These two properties make `model` a great choice of index.

Let's use the `.set_index(col_to_become_index, inplace = True)` method to set a meaningful index.

In [ ]:
# make the model the index for mtcars

In [ ]:
# What has changed about the shape attribute?
# Note that the number of columns is reduced

#### Important Note

These commands should only be run once. If you try to run them a second time, you will get an error. Create a cell below and give it a try it! The reason for the error is: after the command is executed the first time, `model` is no longer a column in `mtcars`, since it is now in the index. When the command is run again, Pandas will try (and fail) to find a column called `model`. 

The interactivity of Jupyter notebooks allows us to see the results of our code immediately, but it makes it easy to lose track of the state, especially if you run a cell twice or out of order. Jupyter notebooks are designed to be run from beginning to end.

#### How can we tell what the index is?

Glance at the data above. Notice:

+ the index column is now in bold
+ the column name for the index column is now lower than the other column names

In [ ]:
# re-investigate the index, what is different about the index now than before?

#### Reseting the Index

If wanting to revert to the default integer *RangeIndex*, use the `.reset_index(inplace = True)` method and the `model` column is added back to the DataFrame.

In [ ]:
# How can we put the index back as a column?

In [ ]:
# What has changed again about the shape attribute?
# Note the model has been added back to the DataFrame as a column

#### Setting the Index using `pd.read_csv()`

The `pd.read_csv()` method has many handy arguments for processing & cleaning data while loading the data. When working with familiar data, processing the data when reading the data in can save a lot of time. If you know that a particular column of data would make a good index, use the `index_col = '<col name>'` argument to set the index automatically. We will use this method in the next notebook.

### Step 6:  Writing Data to File

We just spent a lot of time making the `mtcars` data in a format that will be useful to analyze. In order to read the data into another notebook, we probably should write the data to file. This can be accomplished using the Pandas `.to_csv()` function. There are many arguments that we could specify, but for now we need only specify the file path/name. Let's store it in our **data** folder.

When the index is a `RangeIndex`, we do not want Pandas to store the index as a variable, which by default Pandas will do. We can tell Pandas not to store the index as a variable by including the argument `index = False` in the `to_csv()` method.

In [ ]:
# Write the data to file called `cars_clean`

## Selecting Subsets of data using Pandas

### Why should you care?

When analyzing data we often want to focus on various interesting subsets of the data. To be able to effectively analyze data using pandas, we need to know how to quickly and efficiently find and extract observations matching various criteria.

---

## Objectives:

By the end of this tutorial, you should be able to:

+ Use the three indexers `[ ]`, `loc`, and `iloc` to select subsets of data
+ Understand Boolean Indexing or Boolean Selection for the selection of a subset of a Series/DataFrame based on the **values** themselves and not the row/column labels or integer location
+ Effectively use Boolean selection to filter observations
+ Drop observations/columns using the `.drop()` method
---

In [ ]:
# Import cleaned mtcars data

We will use in our modified `cars` data from the previous section. *Notice that by including `index_col = 'model'` the index was set for us automatically*
    
| Name: | Description: |
|:-------|:--------------|
| make  | Car Manufacturer |
| model | Car Model    |
| type  | Model Type: Sedan, SUV, Sports Car, Wagon, Truck, Hybrid |
| origin | Country where car manufactured |
| drivetrain | Drivetrain type: Front, Rear, All Wheel Drive |
| msrp | Manufacturers Suggested Retail Price in US dollars |
| invoice | Actual Selling Price in US dollars |
| engine  |	Engine Size (L) |
| cyl   | Number of cylinders |
| hp    | Gross horsepower |
| mpg_city | Miles/(US) gallon in City|
| mpg_hwg | Miles/(US) gallon on Highway|
| wt    | Weight (1000 lbs) |
| wheelbase | Distance between the centers of the front and rear wheels (in) |
| length | Length of vehicle (in) |
| domestic | Indicator variable: 1 = domestic, 0 = foreign |
| cat_cyl | Categorical representation of `cyl`, created in section 2.1 |
| disp_per_cyl | Displacement per cylinder, created in section 2.1 |

## Selecting subsets of data (indexing)

There are three main ways to select subsets of the data.

+ `[]` is to select one or more columns of a DataFrame
+ `loc` can select rows, columns, or rows and columns simultaneously and selects primarily by **label**
+ `iloc` can select rows, columns, or rows and columns simultaneously and selects only by **integer location**

### Subset selection using brackets `[]` - Selecting columns

You can retrieve an individual Series from a DataFrame by passing the Series name/key to the DataFrame. 

You can retrieve multiple columns at once by passing a list of column names in the brackets `[]`. When you do this, you actually get a new DataFrame, rather than a list of individual Series objects.

In [ ]:
# Using with brackets notation, one set of brackets returns a Series

In [ ]:
# Verify type is Series
type(mtcars['mpg_city'])

In [ ]:
# Using with brackets notation, two sets of brackets (passing a list) returns a DataFrame
# if grabbing more than one column, must pass a list

mtcars[['mpg_city']].head()

In [ ]:
# Verify type is DataFrame because a list was passed

In [ ]:
# Extracting more than one column at a time

In [ ]:
# Verify type is DataFrame because a list was passed

### Subset selection `.iloc()`

iloc - select rows and/or columns by integer location using the integer position and **slicing** syntax

Using the `df.iloc[]`, we can grab subsets of data based on the integer row and column values. This method of extracting data does not rely on the `index` values but rather on the fact that Pandas objects are ordered.

The *Slicing* syntax is used for both rows and columns, separated by a `,` as `df.iloc[<slice rows>, <slice cols>]`. If wanting *all* rows/columns, use `:`, telling Pandas to start at the beginning and grab everything to the end.

In [ ]:
# Using df.iloc(), extract the value in first row and first column

In [ ]:
# Using df.iloc(), extract the first 4 rows and the first 3 columns

In [ ]:
# Extract the first 4 rows across all columns

In [ ]:
# Extract the first three columns across all rows

### Subset selection `.loc()`

`.loc()` - select rows and/or columns by label

Using the `df.loc[<rows>, <cols>]`, we can grab subsets of data based on their *row and col labels* as given by the `.index` and `.columns` attributes.

The *Slicing* syntax is used for both rows and columns, separated by a `,` as `df.loc[<slice rows>, <slice cols>]`. When looking at the .`head()` of the `mtcars` DataFrame, we see that the Acura *MDX* is the first car in the data and the Acura *TL 4dr* is the fourth car in the data. The first three columns are `make`, `type`, and `origin`. *Slicing* works the same way as before, but now we *slice* using the labels.

In [ ]:
# View head of mtcars DataFrame

In [ ]:
# grab the observation for an Acura MDX

In [ ]:
# To extract the first 4 rows and 3 columns of a DataFrame

In [ ]:
# Extract values across all labels for observations with the column label 'mpg_city'

In [ ]:
# To extract all rows and the first 3 columns

In [ ]:
# Grab specific rows and cols

## Boolean Subsetting with `.loc()`

Oftentimes, we want to filter observations or select columns based on specific criteria. 

For example: 

+ locate all fuel efficient vehicles: `mpg_city` > 20
+ locate all 4 cylinder, fuel efficient vehicles: `cyl` = 4 AND `mpg_city` > 20 MPG
+ locate all cars that are either fuel efficient `mpg_city`> 20 MPG OR vehicles that have 6 cylinders
+ locate all rows with missing values

We can answer such questions by making use of a **Boolean Series**, a series of True/False values. A Boolean Series can be created by using the Python comparison operators on a *Series* selected from our data. Once we have created the desired Boolean Series, we can use it in conjunction with the `.loc()` method to return values where the Boolean Series is True. A Boolean Series used to filter a Pandas Series or DataFrame is also commonly referred to as a **Boolean Filter** or a **Boolean Mask**.

To effectively use Boolean selection to filter observations, use a two-step process.
   + First, create a **filter** - a sequence of True/False values the same length as the DataFrame/Series
   + Second, pass this filter to one of the indexers **`[ ]`** or **`loc`**

In [ ]:
# locate all fuel efficient vehicles, mpg_city > 20 MPG, create a Boolean mask
# simply a Series where all observations meeting condition are True, else False

In [ ]:
# create filter


# extract rows

### Filtering with multiple conditions

Now that we can filter based on a single condition, we can filter based on compound conditions using the (`&` = and, `|` = or, `~` = not) bitwise logical operators. The difference between the bitwise `&` operator and the Boolean operator `and` is the bitwise operator *broadcasts* to all elements in the Series whereas `and` is for evaluating the truth of a single compound Boolean expression. 

If we want to find all cars that have 4 cylinders AND are fuel efficient vehicles (mpg_city > 20 MPG), we need only create the two simple filters first and combine them with the logical and operator `&`.

In [ ]:
# Create compound filter


# extract rows

Alternatively, we can create the compound filter all-at-once by wrapping each sub-filter in parentheses: `(mtcars['mpg_city'] > 20) & (mtcars['cyl'] == 4)`

In [ ]:
# Create compound filter


# extract rows

In [ ]:
# locate all cars that are either fuel efficient `mpg`> 20 MPG OR vehicles that have 6 cylinders

# Create compound filter


# extract rows

### Creating a Boolean Filter to Find Missing Values

Recall, in the previous notebook we discovered that there were missing values in the data. We easily create a Boolean Filter by applying the Pandas method `isnull()` to a column of our DataFrame which will return `True` if the observation is missing. Let's use this technique to discover where the missing values are and investigate why the data might be missing.

In [ ]:
# find missing values, the missing values originate from the cyl column

In [ ]:
# create Boolean filter for missing values

In [ ]:
# Filter DataFrame to find missing values

So, why are these observations missing values? This example is great at highlighting the research and investigation that data science often entails. A domain expert, in this case a mechanic or car aficionado might know right away why these cars have missing values. 

Sometimes understanding our data requires some research. After consulting the [wikipedia](https://en.wikipedia.org/wiki/Mazda_RX-8) page for the `RX-8` and read up about the engine of that car, I found that this car has a *Wankle Rotary Engine* and that the normal concept of *cylinders* does not apply to this special type of engine construction. So, in this case, missing values are perfectly acceptable and reasonable.

## What if you just want to get rid of certain observations by label?

Sometimes it is easier to specify the observations/columns that you want to exclude rather than specifying what to keep. The `df.drop([<list of cols to drop>])` method will allow us to drop data by label. If wanting to drop specific columns, use the `columns` parameter. If dropping rows, use the `index` parameter.

[pandas documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html)

In [ ]:
# Drop the mpg and hp column from the dataframe

In [ ]:
# Drop the MDX from the dataframe