# 02.27.2023 BREAKOUT SESSION EXERCISE

Use the `mtcars` data to answer the following questions.

In [1]:
# Import pandas using the usual alias
import pandas as pd

# Import mtcars data

### Problem 1
<span  style="color:purple; font-size:16px">Create a small DataFrame called `mt_reduced` containing only the `mpg_city`, `mpg_hwy`, `disp_per_cyl`, `horsepower`, `make`, `model` and `cyl` columns.</span>

In [2]:
# Answer

### Problem 2
<span  style="color:purple; font-size:16px">Use the `.iloc()` function to extract the first 8 rows and the first 3 columns from `mt_reduced`</span>

In [3]:
# Answer

### Problem 3
<span  style="color:purple; font-size:16px">Use the `.loc()` function to extract the data for the *Tahoe LT* from `mt_reduced`. Hint: It is necessary to set the index to the `model`.</span>

In [4]:
# Answer

### Problem 4
<span  style="color:purple; font-size:16px">Use the `.loc()` function to extract the data for the *Tahoe LT*, the *Kia Sorento LX* and the *Scion xB* from `mt_reduced`. **Hint: `model` and `make` are different columns.**</span>

In [5]:
# Answer

### Problem 5
<span  style="color:purple; font-size:16px">Use the `.loc()` function to extract the `horsepower` and `mpg_hwy` variables for all cars from `mt_reduced`</span>

In [6]:
# Answer

### Problem 6
<span  style="color:purple; font-size:16px">Use a Boolean Mask to locate all cars in `mt_reduced` that have 4 cylinders. </span>

In [8]:
# Answer

### Problem 7
<span  style="color:purple; font-size:16px">Use a Boolean Mask to locate all cars in `mt_reduced` that have 4 cylinders and then use the `.shape` attribute of a DataFrame to determine the number of cars with 4 cylinders.</span>

In [9]:
# Answer

### Problem 8
<span  style="color:purple; font-size:16px">Use a Boolean Mask to locate all cars in `mt_reduced` that have 8 cylinders AND a `mpg_city` more than 25 MPG.</span>

In [10]:
# Answer

### Problem 9
<span  style="color:purple; font-size:16px">Use a Boolean Mask to locate all cars in `mt_reduced` that have 8 cylinders OR a `mpg_city` more than 25 MPG and save it to a variable called `mt_filtered` </span>

In [11]:
# Answer

### Problem 10
<span  style="color:purple; font-size:16px">Use the `.drop()` function to create `mt_reduced2` which is identical to `mt_reduced` but created by removing columns from `mtcars`. **Hint: using the `.columns` attribute can print out a list for you.**</span>

In [12]:
# Answer